{% set homeName =        site.name %}
{% set homeUrl  = site.link %}
{% set homeDescription = site.description %}
{% set PostDescription = post.excerpt.length(50).read_more(false) %}
{% set thumbnail =
fn('is_home') or
fn('is_front_page') ? fn('asset_url',"thumnail-1200x630.jpg","/img/default/") :
post.thumbnail.src
%}

{% set mainTitle  = post.title %}
{# {% set mainTitle  = post.title %} #}

{% set Title =
fn('is_post_type_archive','article') ?  'Blog' :
fn('is_post_type_archive','roms') ?  ' Emulators  ' :
fn('is_post_type_archive','roms') ?  '   Roms   ' :
fn('is_home') or fn('is_front_page') ? homeName ~ " - " ~ homeDescription :
fn('is_singular') ?   mainTitle:
fn('is_search') ?  search_query :
fn('get_query_var','paged') ? current_url | split('/') | last :
fn('get_query_var','tag')  ? current_url | split('/') | last :

fn('is_404') ? "  404 - Not Found:" ~ homeName : homeName
%}

{% set Description =
fn('is_post_type_archive') ?  Title :
PostDescription ?  PostDescription : homeDescription
%}


<!-- These tags were written exclusively by Borma425 -->



<!-- Main info -->
<meta charset='UTF-8'>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta property='og:locale' content='ar_EN' />
<meta property='og:type' content='website' />
<meta property='og:site_name' content='{{homeName}}' />
<meta itemprop='name' content='{{homeName}}'/>
<meta content='unsafe-url' name='referrer'/>
<meta content='true' name='MSSmartTagsPreventParsing'/>

{% if not fn('is_search') %}

<meta content='index, follow' name='googlebot'/>
<meta content='follow, all' name='Googlebot-Image'/>
<meta content='follow, all' name='msnbot'/>
<meta content='follow, all' name='Slurp'/>
<meta content='follow, all' name='ZyBorg'/>
<meta content='follow, all' name='Scooter'/>
<meta content='telephone=no,date=no,address=no,email=no,url=no' name='format-detection'/>
<meta content='index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1' name='googlebot'/>
{% endif %}


<!-- Favicon Style -->

<link rel="icon" href="{{ favicon }}">






<!-- Url canonical -->
<meta content='{{ current_url }}' property='og:url'/>
<link href='{{ current_url }}' rel='canonical'/>
<meta itemprop='url' content='{{ current_url }}'/>


<!-- Twitter Graph -->
<meta content='{{ Title }}' name='twitter:title'/>
<meta content='{{ Description }}'  name='twitter:description' property='og:description' itemprop='description'/>
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:image' content='{{ thumbnail }}' />


<!-- Featured Image -->
<meta content='{{ thumbnail }}' property='og:image'/>
<meta content='1200' property='og:image:width'/>
<meta content='630' property='og:image:height'/>
<meta property='og:image:alt' content='{{ Description }}' />
<meta property='og:image:secure_url' content='{{ thumbnail }}' />
<link href='{{ thumbnail }}' rel='image_src'/>


<!-- Descripcion -->
<meta content='{{ Description }}'  property='og:description'/>
<meta content='{{ Description }}'  name='description'/>
<!-- Title -->
<meta content='{{ Title }}' property='og:title'/>


<title>{{ Title }}</title>


{% if fn('is_home') or fn('is_front_page') %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{homeUrl}}",
  "potentialAction": {
  "@type": "SearchAction",
  "target": "{{homeUrl}}?s={search_term_string}",
  "query-input": "required name=search_term_string"
       }
}
</script>


{% endif %}

{% if fn('is_singular', 'roms') or fn('is_singular', 'emulators') %}


{% set rom_os, rom_rating_average = post.meta('rom_os')|first, post.meta('rom_rating_average')|first %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoGame",
  "name": "{{ Title }}",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{ rom_rating_average / 5 * 5 }}",
    "bestRating": "5",
        "ratingCount": "{{ random(1000, 10000) }}" 
  },
  "url": "{{ current_url }}", // URL to the ROM page
  "image": "{{ thumbnail }}", // URL to the ROM image
  "description": "{{ Description }}", // Brief description of the game ROM
  "operatingSystem": "{% for os in rom_os|split(',') %}{{ os }}, {% endfor %}" // Optional: Supported operating systems
}
</script>

{% endif %}